*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
:root{

    --primary-bg-color:rgb(22, 22, 22);

    --primary-text-color: whitesmoke;

    --border : 1px solid rgb(120, 120, 120);

    --food-color : crimson;
}
main,section{
    height: 100%;
    width: 100%;
    padding: 40px;
}
section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.infos{
    display: flex;
    justify-content: space-between;
}
.info{
    border: var(--border);
    padding: 5px;
}
.board{
    flex-grow: 1;
    border: var(--border);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
}
.block{
    border: var(--border);
}

.fill{
    background-color: var(--primary-text-color);
}

.food{
    background-color: var(--food-color);
}